  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "text-input" %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "text-input" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "text-input" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "text-input" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "text-input" %>
  </div>

