<div id="profile-header">
  <h2>
    <%= "#{@user.first_name} #{@user.last_name} - " %>
    <%= link_to @user.email, "mailto:" + @user.email %>
  </h2>
  <div class="meta">
    <p>
      <span class="task-no"><%= @user.assigned_tasks.length %> Tasks</span>
      <span class="more">8 pork </span>
      <span class="more last">1 loin</span>
    </p>
  </div>
</div>

<% if signed_in? %>
  <section id="main" class="profile">

    <%= render @user %>
  </section>
<% else %>
  <section id="main" class="profile">
    <%= render 'users/not_signed_in_user', :user => @user  %>
  </section>

<% end %>


<% content_for :body_class do %>
  <%= "class=profile" %>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "jquery.jeditable" %>
<%= javascript_tag do %>
  $(function() {
    $(".task-list").sortable({
      handle: '.handle',
      items: 'li',
      cursor: 'move',
      opacity: 0.4,
      update: function(event, ui) {
        $.ajax({
          type: 'POST',
          data: $(event.target).sortable('serialize') + "&user=" +
                $(event.target).attr('id'),
          dataType: 'script',
          success: function(request) {
            // Highlight dropped task?
          },
          url: '/users/reorder_tasks'
        })
      }
    });

    $('.edit_area').editable('/tasks/remote_edit_tasks', {
      type: 'textarea',
      cssclass: 'inline-edit',
      id: "task_id",
      name: "task_description",
      submit: 'save',
      cancel: 'cancel',
      callback: function(value, settings) {
         /*
         alert(this);
         alert(value);
         alert(settings);
         */
      }
    });
  });
<% end %>
<% end %>
